flows_braxton_wlc.json
[{"id":"b7b52a4d.31fd08","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"da536413.e741b8","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"9d127580.8646a8","type":"modbus-client","z":"","name":"local","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"10502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":1,"commandDelay":1,"clientTimeout":1000,"reconnectTimeout":2000},{"id":"609f9c2d.e332e4","type":"ui_tab","z":"b7b52a4d.31fd08","name":"WLC","icon":"dashboard"},{"id":"6a8f9fc.fe59f6","type":"ui_group","z":"b7b52a4d.31fd08","name":"Transfer Pump","tab":"6f69126a.1cc99c","order":4,"disp":true,"width":"15","collapse":false},{"id":"99ce7a97.24e918","type":"ui_group","z":"b7b52a4d.31fd08","name":"Tank 1","tab":"6f69126a.1cc99c","order":3,"disp":true,"width":"6","collapse":false},{"id":"77b08054.f762d","type":"ui_group","z":"b7b52a4d.31fd08","name":"Alarming","tab":"6f69126a.1cc99c","order":5,"disp":true,"width":"6"},{"id":"f975ec3e.68449","type":"ui_group","z":"b7b52a4d.31fd08","name":"Tank 2","tab":"6f69126a.1cc99c","order":2,"disp":true,"width":"6"},{"id":"4559667f.326178","type":"ui_group","z":"b7b52a4d.31fd08","name":"Tank 3","tab":"6f69126a.1cc99c","order":1,"disp":true,"width":"6","collapse":false},{"id":"4d20d4a9.6fbacc","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"a27e7c3.2b21f8","type":"ui_group","z":"","name":"Tank 1","tab":"609f9c2d.e332e4","order":1,"disp":true,"width":"6","collapse":false},{"id":"a1d584b1.1ec008","type":"mqtt-broker","z":"","name":"Localhost","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"2","willRetain":"false","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"41b6ec9f.8b33d4","type":"modbus-client","z":"","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"192.168.100.5","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectTimeout":"2000"},{"id":"83fcae03.7b355","type":"ui_group","z":"","name":"Caixa_1","tab":"1257f40b.e13d2c","disp":true,"width":"6","collapse":false},{"id":"510921e3.5ae3d","type":"ui_group","z":"","name":"Controle das Caixas d'Agua","tab":"1257f40b.e13d2c","order":1,"disp":true,"width":"6","collapse":false},{"id":"31355f45.3d08e","type":"modbus-client","z":"","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectTimeout":"2000"},{"id":"39e8a4ce.d839bc","type":"ui_group","z":"","name":"Alarme","tab":"1257f40b.e13d2c","disp":true,"width":"6","collapse":false},{"id":"1257f40b.e13d2c","type":"ui_tab","z":"","name":"Imput","icon":"dashboard","order":2},{"id":"58c773ba.010c6c","type":"modbus-read","z":"b7b52a4d.31fd08","name":"Read Holding Registers","topic":"","showStatusActivities":false,"showErrors":false,"unitid":"1","dataType":"HoldingRegister","adr":"1","quantity":"5","rate":"500","rateUnit":"ms","delayOnStart":false,"startDelayTime":"","server":"9d127580.8646a8","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":150.96666717529297,"y":65.19049072265625,"wires":[[],["24679b44.5be804","742563ba.ba852c"]]},{"id":"96b885f2.f614b8","type":"modbus-server","z":"b7b52a4d.31fd08","name":"Modbus Server","logEnabled":false,"hostname":"","serverPort":"10502","responseDelay":100,"delayUnit":"ms","coilsBufferSize":1024,"holdingBufferSize":1024,"inputBufferSize":1024,"x":275.2999897003174,"y":1111.85724401474,"wires":[["241d18ec.20a4d8"],["241d18ec.20a4d8"],["241d18ec.20a4d8"]]},{"id":"241d18ec.20a4d8","type":"debug","z":"b7b52a4d.31fd08","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":499.2999897003174,"y":1111.85724401474,"wires":[]},{"id":"b781514.7568cb","type":"inject","z":"b7b52a4d.31fd08","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":86.29998970031738,"y":1111.85724401474,"wires":[["96b885f2.f614b8"]]},{"id":"4d6fcb47.af8144","type":"comment","z":"b7b52a4d.31fd08","name":"Modbus Slave sim device","info":"","x":115,"y":1068.8572463989258,"wires":[]},{"id":"f7d40b6c.975e48","type":"debug","z":"b7b52a4d.31fd08","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1571.7847518920898,"y":393.84095764160156,"wires":[]},{"id":"9f59cfea.7d29c","type":"modbus-flex-write","z":"b7b52a4d.31fd08","name":"","showStatusActivities":false,"showErrors":false,"server":"9d127580.8646a8","x":1379.6760711669922,"y":389.61929416656494,"wires":[[],["f7d40b6c.975e48"]]},{"id":"2fd98818.2f1d08","type":"function","z":"b7b52a4d.31fd08","name":"Coil 3","func":"msg.payload = { value: msg.payload, \n'fc': 5,\n'unitid': 1, \n'address': 2,\n'quantity': 1 } \nreturn msg","outputs":1,"noerr":0,"x":797.6045036315918,"y":503.2146282196045,"wires":[["33d1b6d3.6a4d5a"]]},{"id":"cfed67ec.932e88","type":"function","z":"b7b52a4d.31fd08","name":"Coil 3","func":"msg.payload = { value: msg.payload, \n'fc': 5,\n'unitid': 1, \n'address': 1,\n'quantity': 1 } \nreturn msg","outputs":1,"noerr":0,"x":807.7236003875732,"y":410.3099961280823,"wires":[["2dbc9245.7310ce"]]},{"id":"3143cb22.5861c4","type":"modbus-read","z":"b7b52a4d.31fd08","name":"Read Coils","topic":"","showStatusActivities":false,"showErrors":false,"unitid":"1","dataType":"Coil","adr":"1","quantity":"2","rate":"500","rateUnit":"ms","delayOnStart":false,"startDelayTime":"","server":"9d127580.8646a8","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":137.8904628753662,"y":454.4762740135193,"wires":[[],["7b33adc4.c344c4"]]},{"id":"7b33adc4.c344c4","type":"function","z":"b7b52a4d.31fd08","name":" Decode array","func":"// get the modbus values from the array\npumpMode = msg.payload.data[0]\npumpStatus = msg.payload.data[1]\n\n\n//set global context variables for the simulator\nglobal.set(\"pumpMode\",pumpMode);\nglobal.set(\"pumpStatus\",pumpStatus);\n\n//Set up text for the statuses\nif (pumpMode)\n    {\n    pMText = 'Auto';\n    }\nelse\n    {\n    pMText = 'Manual';\n    }\n    \nif (pumpStatus)\n    {\n    pSText = 'Running';\n    }\nelse\n    {\n    pSText = 'Stopped';\n    }\n    \n//set up the outgoing messages\nvar msg1 = { payload:pumpMode};\nvar msg2 = { payload:pumpStatus};\nvar msg3 = { payload:pMText};\nvar msg4 = { payload:pSText};\n\n\n\n\n\nreturn [ msg1, msg2, msg3, msg4];\n","outputs":4,"noerr":0,"x":314.3915824890137,"y":459.54606914520264,"wires":[["69bff9bc.bf3468"],["21a77c48.35a814","9f8ccfdc.eb958"],["39981c25.3279a4"],["4b740de0.aeaf64"]],"outputLabels":["Mode Label - Water Well Pump","Status Label - Water Well Pump","",""]},{"id":"b06fc79e.8ab028","type":"debug","z":"b7b52a4d.31fd08","name":"","active":false,"console":"false","complete":"false","x":946.6523475646973,"y":826.0952005386353,"wires":[]},{"id":"e86faaaf.f764d8","type":"modbus-flex-write","z":"b7b52a4d.31fd08","name":"","showStatusActivities":false,"showErrors":true,"server":"9d127580.8646a8","x":738.9364395141602,"y":819.6950540542603,"wires":[[],["b06fc79e.8ab028"]]},{"id":"541e6dd5.96e174","type":"function","z":"b7b52a4d.31fd08","name":"Hld 5","func":"msg.payload = { value: msg.payload, \n'fc': 6,\n'unitid': 1, \n'address': 4,\n'quantity': 1 } \nreturn msg","outputs":1,"noerr":0,"x":710.6403007507324,"y":317.72625160217285,"wires":[["52d76491.daa70c"]]},{"id":"1074b5a3.1fdc7a","type":"function","z":"b7b52a4d.31fd08","name":"Hld 6","func":"msg.payload = { value: msg.payload, \n'fc': 6,\n'unitid': 1, \n'address': 5,\n'quantity': 1 } \nreturn msg","outputs":1,"noerr":0,"x":710.6403007507324,"y":366.7261905670166,"wires":[["428202c5.5a874c"]]},{"id":"354d8c30.667024","type":"function","z":"b7b52a4d.31fd08","name":"pump auto","func":"//   The message returned from the read node is an\n// array as there could be multiple registers returned\n//   This reads the first value in the array.\nlet tankLevel = msg.payload.value\nlet pumpMode = msg.payload.pumpMode\nlet pumpStatus = msg.payload.pumpStatus\nlet tankStart = msg.payload.tankStart\nlet tankStop = msg.payload.tankStop\n\nif(pumpMode === true && pumpStatus === false && tankLevel < tankStart)\n            {\n                msg.payload = { value: true, \n                                'fc': 5,\n                                'unitid': 1, \n                                'address': 2,\n                                'quantity': 1 } \n                                return msg\n            }\n     else if(pumpMode === true && pumpStatus === true && tankLevel >= tankStop){\n            msg.payload = { value: false, \n                                    'fc': 5,\n                                    'unitid': 1, \n                                    'address': 2,\n                                    'quantity': 1 } \n                                    return msg\n                                }\n","outputs":1,"noerr":0,"x":1203.6522216796875,"y":210.0473175048828,"wires":[["53ed0ef3.463e8"]]},{"id":"b8293add.2ff628","type":"inject","z":"b7b52a4d.31fd08","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":true,"onceDelay":"","x":75.53332710266113,"y":808.5238699913025,"wires":[["71d4f03a.13813","ed6792ef.f0be3"]]},{"id":"8c0f93d5.cb22e","type":"function","z":"b7b52a4d.31fd08","name":"Startup Values","func":"msg.payload = { value:[true, false], \n'fc': 15, \n'unitid': 1, \n'address': 1, \n'quantity': 2} \nreturn msg","outputs":1,"noerr":0,"x":416.3666248321533,"y":809.1905570030212,"wires":[["e86faaaf.f764d8"]]},{"id":"71d4f03a.13813","type":"delay","z":"b7b52a4d.31fd08","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":234.53331184387207,"y":808.85724401474,"wires":[["8c0f93d5.cb22e"]]},{"id":"56bb7edf.3e347","type":"function","z":"b7b52a4d.31fd08","name":"Startup Values","func":"msg.payload = { value:[1,1,1,1,2], \n'fc': 16, \n'unitid': 1, \n'address': 1, \n'quantity': 5 } \nreturn msg","outputs":1,"noerr":0,"x":416.3666248321533,"y":845.1905570030212,"wires":[["e86faaaf.f764d8"]]},{"id":"ed6792ef.f0be3","type":"delay","z":"b7b52a4d.31fd08","name":"","pauseType":"delay","timeout":"6","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":234.53331184387207,"y":844.85724401474,"wires":[["56bb7edf.3e347"]]},{"id":"e4fe96db.11eaf8","type":"comment","z":"b7b52a4d.31fd08","name":"Read Me for Register Info","info":"Coils\n1 Pump 1 Mode\n2 pump 1 Run Status\n3 Pump 2 Mode\n4 Pump 2 Run Status\n\nHolding Registers\n40001 Tank 1 Level\n40002 Tank 1 Start Setpoint\n40003 Tank 1 Stop Setpoint\n40004 Tank 2 Level\n40005 Tank 2 Start Setpoint\n40006 Tank 2 Stop Setpoint\n","x":127.25000762939453,"y":23.835758209228516,"wires":[]},{"id":"84cda2ec.d7da5","type":"comment","z":"b7b52a4d.31fd08","name":"Modbus read, write and dashboard icons","info":"\n","x":799.3428649902344,"y":20.30954933166504,"wires":[]},{"id":"e5b5097d.33eee8","type":"comment","z":"b7b52a4d.31fd08","name":"Startup Sim Values","info":"","x":107.29998970031738,"y":775.3905692100525,"wires":[]},{"id":"9bbd44.cdda02c","type":"function","z":"b7b52a4d.31fd08","name":"notification","func":"lvl = msg.payload\nmsg.topic = 'Tank 1 Alarm';\nvar tank1Alarm = global.get(\"tank1Alarm\");\nvar tank1Start = global.get(\"tank1Start\");\nvar tank1Stop = global.get(\"tank1Stop\");\n    \nif (lvl > (tank1Stop + 15))\n{\n    msg.payload = 'Tank 1 Level High Alarm';\n}\nelse if (lvl < (tank1Start - 15))\n{\n    msg.payload = 'Tank 1 Level Low Alarm'; \n}\nelse\n{\n      msg.payload = 'Tank 1 Alarm Clear';  \n}\n\nif (msg.payload != tank1Alarm)\n{\n    global.set(\"tank1Alarm\",msg.payload);\n    return msg;\n}","outputs":1,"noerr":0,"x":91.67637634277344,"y":198.5381317138672,"wires":[["b5e54dfc.cd84f"]]},{"id":"d039c9b4.2c8d98","type":"comment","z":"b7b52a4d.31fd08","name":"Alarming","info":"\n","x":84.92650413513184,"y":162.5714726448059,"wires":[]},{"id":"8c9993a9.2a351","type":"function","z":"b7b52a4d.31fd08","name":"","func":"\nif (msg.payload == 1)\n{\n    global.set(\"enable\", 1);\n   // return msg;\n}\nelse\n{\n    global.set(\"enable\", 0);     \n}\n\n","outputs":1,"noerr":0,"x":274.02628326416016,"y":243.32141399383545,"wires":[[]]},{"id":"b5e54dfc.cd84f","type":"function","z":"b7b52a4d.31fd08","name":"","func":"var enable = global.get(\"enable\");\n\nif (enable == 1)\n{\n    return msg;\n}\n\n","outputs":1,"noerr":0,"x":269.66907501220703,"y":197.00005340576172,"wires":[["f754470a.307938"]]},{"id":"749da54f.d92dbc","type":"function","z":"b7b52a4d.31fd08","name":" Decode array","func":"//   The message returned from the read node is an\n// array as there could be multiple registers returned\n//   This reads the first value in the array.\n\ntank1Level = msg.payload[0].data[0]\ntank2Level = msg.payload[0].data[1]\ntank3Level = msg.payload[0].data[2]\ntankStart =  msg.payload[0].data[3]\ntankStop =   msg.payload[0].data[4]\npumpMode =   msg.payload[1].data[0]\npumpStatus = msg.payload[1].data[1]\n\nif(tank1Level== 1 && tank2Level==1 && tank3Level == 1)\n{   \n    let msg1 = { payload:3};\n    let msg2 = { payload:tankStart};\n    let msg3 = { payload:tankStop};\n    let event = {value : msg1.payload , tankStart , tankStop , pumpMode, pumpStatus }\n    let msg4 = { payload:event};\n    return [ msg1,msg2, msg3,msg4];\n}else if(tank1Level=== 1 && tank2Level===1 && tank3Level === 0)\n{   \n    let msg1 = { payload:2};\n    let msg2 = { payload:tankStart};\n    let msg3 = { payload:tankStop};\n    let event = {value : msg1.payload , tankStart , tankStop , pumpMode, pumpStatus }\n    let msg4 = { payload:event};\n    return [ msg1,msg2, msg3,msg4];\n}else if(tank1Level=== 1 && tank2Level===0 && tank3Level === 0)\n{   \n    let msg1 = { payload:1};\n    let msg2 = { payload:tankStart};\n    let msg3 = { payload:tankStop};\n    let event = {value : msg1.payload , tankStart , tankStop , pumpMode, pumpStatus }\n    let msg4 = { payload:event};\n    return [ msg1,msg2, msg3,msg4];\n}else if(tank1Level=== 0 && tank2Level===0 && tank3Level === 0)\n{   \n    let msg1 = { payload:0};\n    let msg2 = { payload:tankStart};\n    let msg3 = { payload:tankStop};\n    let event = {value : msg1.payload , tankStart , tankStop , pumpMode, pumpStatus }\n    let msg4 = { payload:event};\n    return [ msg1,msg2, msg3,msg4];\n}else {\n    let msg1 = { payload:\"Error\"};\n    let msg2 = { payload:tankStart};\n    let msg3 = { payload:tankStop};\n    let event = {value : msg1.payload , tankStart , tankStop , pumpMode, pumpStatus }\n    let msg4 = { payload:event};\n    return [ msg1,msg2, msg3,msg4];\n}\n","outputs":4,"noerr":0,"x":720.0868225097656,"y":70.64131164550781,"wires":[["fbef2bf0.528df8"],[],[],["99f8dcb5.7f29f"]],"outputLabels":["tank Level","Start SetPoint ","Stop SetPoint","Whole Event"]},{"id":"18e370bc.cc9c7f","type":"function","z":"b7b52a4d.31fd08","name":"Startup Values","func":"msg.payload = \n{\"value\": msg.payload.value, \n'fc': 6, \n'unitid': 1, \n'address': msg.payload.address, \n'quantity': 1} \nreturn msg","outputs":1,"noerr":0,"x":538.5714149475098,"y":701.4285593032837,"wires":[["e86faaaf.f764d8"]]},{"id":"60bdbd35.21cd54","type":"function","z":"b7b52a4d.31fd08","name":"Fill up Tank 1","func":"var pumpMode = global.get(\"pumpMode\");\nvar pumpStatus = global.get(\"pumpStatus\");\nif( msg.payload && pumpMode === true && pumpStatus === true){\n       \n   msg.payload = { \n                    value: 1 , \n                    'fc': 6, \n                    'unitid': 1, \n                    'address': 1, \n                    'quantity': 5 }\n                        \n                        \n    node.send(msg)    \n                \n    \n}","outputs":1,"noerr":0,"x":1015.7142524719238,"y":622.1431427001953,"wires":[["e6049102.2ab6e"]]},{"id":"9f8ccfdc.eb958","type":"rbe","z":"b7b52a4d.31fd08","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":689.2856025695801,"y":664.2856664657593,"wires":[["b2ffa5ab.4d7ee8","934f49da.2e6698","e4763ff8.0ac0e"]]},{"id":"41d24df1.844a64","type":"function","z":"b7b52a4d.31fd08","name":"Fill up Tank 2","func":"var pumpMode = global.get(\"pumpMode\");\nvar pumpStatus = global.get(\"pumpStatus\");\nif( msg.payload && pumpMode === true && pumpStatus === true){\n       \n   msg.payload = { \n                    value: 1 , \n                    'fc': 6, \n                    'unitid': 1, \n                    'address': 2, \n                    'quantity': 5 }\n                        \n                        \n    node.send(msg)    \n                \n    \n}","outputs":1,"noerr":0,"x":1014.2856559753418,"y":665.8572025299072,"wires":[["fcbbd4ae.3eeb88"]]},{"id":"ff38d0f.e8cc33","type":"function","z":"b7b52a4d.31fd08","name":"Fill up Tank 3","func":"var pumpMode = global.get(\"pumpMode\");\nvar pumpStatus = global.get(\"pumpStatus\");\nif( msg.payload && pumpMode === true && pumpStatus === true){\n       \n   msg.payload = { \n                    value: 1 , \n                    'fc': 6, \n                    'unitid': 1, \n                    'address': 3, \n                    'quantity': 5 }\n                        \n                        \n    node.send(msg)    \n                \n    \n}","outputs":1,"noerr":0,"x":1017.1429023742676,"y":708.5714864730835,"wires":[["b898850b.8100e8"]]},{"id":"b2ffa5ab.4d7ee8","type":"delay","z":"b7b52a4d.31fd08","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":854.9999122619629,"y":621.428409576416,"wires":[["60bdbd35.21cd54"]]},{"id":"934f49da.2e6698","type":"delay","z":"b7b52a4d.31fd08","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":857.1428642272949,"y":665.7143077850342,"wires":[["41d24df1.844a64"]]},{"id":"e4763ff8.0ac0e","type":"delay","z":"b7b52a4d.31fd08","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":857.1428108215332,"y":707.5714244842529,"wires":[["ff38d0f.e8cc33"]]},{"id":"30b205ea.87fd2a","type":"debug","z":"b7b52a4d.31fd08","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":322.8571319580078,"y":594.2857570648193,"wires":[]},{"id":"21a77c48.35a814","type":"ui_switch","z":"b7b52a4d.31fd08","name":"Status","label":"Run","group":"a27e7c3.2b21f8","order":15,"width":"3","height":"1","passthru":false,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":677.5569496154785,"y":502.80980587005615,"wires":[["2fd98818.2f1d08"]]},{"id":"69bff9bc.bf3468","type":"ui_switch","z":"b7b52a4d.31fd08","name":"","label":"Mode","group":"a27e7c3.2b21f8","order":13,"width":"3","height":"1","passthru":false,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":681.723575592041,"y":410.3098669052124,"wires":[["cfed67ec.932e88"]]},{"id":"3d9f8af5.86e186","type":"ui_switch","z":"b7b52a4d.31fd08","name":"","label":"Enable Audio TTS","group":"d83d5917.5e9c18","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"EnableBtn","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":107.85971069335938,"y":242.25195598602295,"wires":[["8c9993a9.2a351"]]},{"id":"2d5b8601.99adfa","type":"ui_switch","z":"b7b52a4d.31fd08","name":"","label":"Tank1","group":"a27e7c3.2b21f8","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"{\"value\":1,\"address\":1}","onvalueType":"json","onicon":"","oncolor":"","offvalue":"{\"value\":0,\"address\":1}","offvalueType":"json","officon":"","offcolor":"","x":362.142879486084,"y":652.8571481704712,"wires":[["18e370bc.cc9c7f"]]},{"id":"4efb9337.5e3b5c","type":"ui_switch","z":"b7b52a4d.31fd08","name":"","label":"Tank2","group":"a27e7c3.2b21f8","order":6,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"","style":"","onvalue":"{\"value\":1,\"address\":2}","onvalueType":"json","onicon":"","oncolor":"","offvalue":"{\"value\":0,\"address\":2}","offvalueType":"json","officon":"","offcolor":"","x":362.5713882446289,"y":705.7143611907959,"wires":[["18e370bc.cc9c7f"]]},{"id":"cd28d505.df89c8","type":"ui_switch","z":"b7b52a4d.31fd08","name":"","label":"Tank3","group":"a27e7c3.2b21f8","order":9,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"","style":"","onvalue":"{\"value\":1,\"address\":3}","onvalueType":"json","onicon":"","oncolor":"","offvalue":"{\"value\":0,\"address\":3}","offvalueType":"json","officon":"","offcolor":"","x":362.5714302062988,"y":752.8571901321411,"wires":[["18e370bc.cc9c7f"]]},{"id":"f91e5898.17af08","type":"ui_numeric","z":"b7b52a4d.31fd08","name":"","label":"Start Setpoint","group":"a27e7c3.2b21f8","order":11,"width":"6","height":"1","passthru":false,"topic":"","format":"{{value}}","min":"1","max":"3","step":1,"x":557.6403007507324,"y":318.72625160217285,"wires":[["541e6dd5.96e174"]]},{"id":"11d99460.6a328c","type":"ui_numeric","z":"b7b52a4d.31fd08","name":"","label":"Stop Setpoint","group":"a27e7c3.2b21f8","order":12,"width":"6","height":"1","passthru":false,"topic":"","format":"{{value}}","min":"1","max":"3","step":1,"x":556.4736137390137,"y":365.0595645904541,"wires":[["1074b5a3.1fdc7a"]]},{"id":"39981c25.3279a4","type":"ui_text","z":"b7b52a4d.31fd08","group":"a27e7c3.2b21f8","order":14,"width":"3","height":"1","name":"","label":"Mode","format":"{{msg.payload}}","layout":"row-spread","x":678.5572547912598,"y":460.1428747177124,"wires":[]},{"id":"4b740de0.aeaf64","type":"ui_text","z":"b7b52a4d.31fd08","group":"a27e7c3.2b21f8","order":16,"width":"3","height":"1","name":"","label":"Status","format":"{{msg.payload}}","layout":"row-spread","x":676.5572547912598,"y":555.1428747177124,"wires":[]},{"id":"fbef2bf0.528df8","type":"ui_gauge","z":"b7b52a4d.31fd08","name":"Tank 1 Graph","group":"a27e7c3.2b21f8","order":2,"width":"4","height":"2","gtype":"wave","title":"Level","label":"","format":"{{value}}","min":0,"max":"3","colors":["#00b500","#e6e600","#ca3838"],"seg1":"1","seg2":"2","x":901.2857666015625,"y":51,"wires":[]},{"id":"f754470a.307938","type":"ui_audio","z":"b7b52a4d.31fd08","name":"","group":"a27e7c3.2b21f8","voice":"pt-BR","always":true,"x":410.5931930541992,"y":197.7381420135498,"wires":[]},{"id":"b6048272.a9d86","type":"modbus-getter","z":"b7b52a4d.31fd08","name":"Get Pump Status","showStatusActivities":false,"showErrors":false,"unitid":"1","dataType":"Coil","adr":"1","quantity":"2","server":"9d127580.8646a8","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":457.5,"y":133,"wires":[[],["24679b44.5be804"]]},{"id":"24679b44.5be804","type":"join","z":"b7b52a4d.31fd08","name":"Join","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":574.5,"y":70,"wires":[["749da54f.d92dbc"]]},{"id":"742563ba.ba852c","type":"delay","z":"b7b52a4d.31fd08","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":285.5,"y":133,"wires":[["b6048272.a9d86"]]},{"id":"658335cc.1f37fc","type":"mosca in","z":"b7b52a4d.31fd08","mqtt_port":1883,"mqtt_ws_port":8080,"name":"","username":"","password":"","dburl":"","x":95,"y":1219,"wires":[[]]},{"id":"bee716e.dfb33e8","type":"comment","z":"b7b52a4d.31fd08","name":"Mosca Server Broker","info":"","x":105,"y":1184,"wires":[]},{"id":"99f8dcb5.7f29f","type":"mqtt out","z":"b7b52a4d.31fd08","name":"","topic":"wlc1-events","qos":"2","retain":"false","broker":"a1d584b1.1ec008","x":898.5,"y":91,"wires":[]},{"id":"9189805b.c6ada","type":"mqtt in","z":"b7b52a4d.31fd08","name":"wlc1-events","topic":"wlc1-events","qos":"2","broker":"a1d584b1.1ec008","x":881.5,"y":211,"wires":[["d7eaf89c.6abaf8"]]},{"id":"d7eaf89c.6abaf8","type":"json","z":"b7b52a4d.31fd08","name":"","property":"payload","action":"","pretty":false,"x":1046.5,"y":212,"wires":[["354d8c30.667024"]]},{"id":"9249ead1.88ea68","type":"mqtt in","z":"b7b52a4d.31fd08","name":"wlc1-events","topic":"wlc1-events","qos":"2","broker":"a1d584b1.1ec008","x":75,"y":614.4286119937897,"wires":[["73674fa1.1984e"]]},{"id":"471e87d6.7dc5d8","type":"function","z":"b7b52a4d.31fd08","name":"","func":"let levelTank = msg.payload.value;\n\nif(levelTank===1){\n    let msg1 = { payload : {\"value\":1,\"address\":1} };\n    let msg2 = { payload : {\"value\":0,\"address\":2} };\n    let msg3 = { payload : {\"value\":0,\"address\":3} };;\n    return [msg1, msg2, msg3 ]\n}else if(levelTank===2){\n    let msg1 = { payload : {\"value\":1,\"address\":1} };\n    let msg2 = { payload : {\"value\":1,\"address\":2} };\n    let msg3 = { payload : {\"value\":0,\"address\":3} };\n    return [msg1, msg2, msg3 ]\n}else if(levelTank===3){\n    let msg1 = { payload : {\"value\":1,\"address\":1} };\n    let msg2 = { payload : {\"value\":1,\"address\":2} };\n    let msg3 = { payload : {\"value\":1,\"address\":3} };\n    return [msg1, msg2, msg3 ]\n}else {\n    return msg;\n}\n\n\n\n","outputs":3,"noerr":0,"x":226.42857360839844,"y":705.2857551574707,"wires":[["2d5b8601.99adfa","30b205ea.87fd2a"],["4efb9337.5e3b5c","30b205ea.87fd2a"],["cd28d505.df89c8","30b205ea.87fd2a"]]},{"id":"73674fa1.1984e","type":"json","z":"b7b52a4d.31fd08","name":"","property":"payload","action":"","pretty":false,"x":105.71429061889648,"y":705.7142839431763,"wires":[["471e87d6.7dc5d8"]]},{"id":"2c4266e4.3fa94a","type":"function","z":"da536413.e741b8","name":"ON - OF","func":"var x = [0,0,0,0,0,0,0,0];\nvar msg_o = [msg,msg,msg,msg,msg,msg,msg,msg];\nfor(i = 0; i < 8; i++){\n    x[i] = msg.payload[i];\n    if (x[i] === true){\n        msg_o[i] = { payload: 1};\n    } else {\n        msg_o[i] = { payload: 0};\n    }\n}\nreturn msg_o;","outputs":"8","noerr":0,"x":502.8571472167969,"y":321.4285888671875,"wires":[[],[],[],[],[],[],[],[]]},{"id":"148d36fb.e8cb99","type":"mqtt in","z":"b7b52a4d.31fd08","name":"wlc1-events","topic":"wlc1-events","qos":"2","broker":"a1d584b1.1ec008","x":83.09523391723633,"y":338.5714075565338,"wires":[["9b893d42.2869e"]]},{"id":"9b893d42.2869e","type":"json","z":"b7b52a4d.31fd08","name":"","property":"payload","action":"","pretty":false,"x":232.38096618652344,"y":338.42852115631104,"wires":[["2f7e7bca.6a2fd4"]]},{"id":"2f7e7bca.6a2fd4","type":"function","z":"b7b52a4d.31fd08","name":"","func":"let tankStart = msg.payload.tankStart\nlet tankStop = msg.payload.tankStop\n\nreturn [{payload:tankStart}, {payload:tankStop}]","outputs":2,"noerr":0,"x":370.2381057739258,"y":340.00000286102295,"wires":[["f91e5898.17af08"],["11d99460.6a328c"]],"outputLabels":["tankStart","tankStop"]},{"id":"eaf91c30.8a9f2","type":"link in","z":"b7b52a4d.31fd08","name":"Write In","links":["53ed0ef3.463e8","52d76491.daa70c","428202c5.5a874c","2dbc9245.7310ce","33d1b6d3.6a4d5a","e6049102.2ab6e","fcbbd4ae.3eeb88","b898850b.8100e8"],"x":1254.166672706604,"y":389.9999828338623,"wires":[["9f59cfea.7d29c"]]},{"id":"53ed0ef3.463e8","type":"link out","z":"b7b52a4d.31fd08","name":"","links":["eaf91c30.8a9f2"],"x":1325.8333082199097,"y":210.00000667572021,"wires":[]},{"id":"52d76491.daa70c","type":"link out","z":"b7b52a4d.31fd08","name":"","links":["eaf91c30.8a9f2"],"x":806.6665983200073,"y":318.333327293396,"wires":[]},{"id":"428202c5.5a874c","type":"link out","z":"b7b52a4d.31fd08","name":"","links":["eaf91c30.8a9f2"],"x":806.6665782928467,"y":366.6666536331177,"wires":[]},{"id":"2dbc9245.7310ce","type":"link out","z":"b7b52a4d.31fd08","name":"","links":["eaf91c30.8a9f2"],"x":901.6666221618652,"y":409.99998474121094,"wires":[]},{"id":"33d1b6d3.6a4d5a","type":"link out","z":"b7b52a4d.31fd08","name":"","links":["eaf91c30.8a9f2"],"x":884.9999752044678,"y":505.33329010009766,"wires":[]},{"id":"e6049102.2ab6e","type":"link out","z":"b7b52a4d.31fd08","name":"","links":["eaf91c30.8a9f2"],"x":1122.999921798706,"y":621.9999618530273,"wires":[]},{"id":"fcbbd4ae.3eeb88","type":"link out","z":"b7b52a4d.31fd08","name":"","links":["eaf91c30.8a9f2"],"x":1122.6667108535767,"y":665.0000047683716,"wires":[]},{"id":"b898850b.8100e8","type":"link out","z":"b7b52a4d.31fd08","name":"","links":["eaf91c30.8a9f2"],"x":1122.6666259765625,"y":708,"wires":[]},{"id":"b16c5078.2e728","type":"comment","z":"b7b52a4d.31fd08","name":"Update SetPoints","info":"","x":95.83333587646484,"y":301.6666679382324,"wires":[]}]