flows_braxton_wlc.json
[{"id":"d6d5ef13.e0b65","type":"tab","label":"Flow 1","disabled":true,"info":""},{"id":"2a34925d.7e653e","type":"tab","label":"Flow 2","disabled":true,"info":""},{"id":"140618a5.dd7227","type":"tab","label":"Flow 3","disabled":true,"info":""},{"id":"438131c.1f349d","type":"tab","label":"Flow 4","disabled":true,"info":""},{"id":"bc2cab0a.5ccfe8","type":"tab","label":"Flow 5","disabled":false,"info":""},{"id":"2b908561.c072aa","type":"websocket-listener","z":"","path":"/ws/teste","wholemsg":"true"},{"id":"1537b92f.6022c7","type":"websocket-client","z":"","path":"ws://127.0.0.1:1880/ws/teste","wholemsg":"true"},{"id":"61ea499.c6e52b8","type":"websocket-listener","path":"/public/publish","wholemsg":"false"},{"id":"8537df93.ee9df","type":"websocket-listener","path":"/public/receive","wholemsg":"false"},{"id":"e2613187.75d4","type":"websocket-client","path":"wss://echo.websocket.org","wholemsg":"false"},{"id":"d27b2aad.424b88","type":"websocket-listener","z":"","path":"ws://127.0.0.1:1880/ws/teste","wholemsg":"true"},{"id":"6c9af2be.d4ef0c","type":"MySQLdatabase","z":"","host":"development.cw4a0xgjdso4.us-east-2.rds.amazonaws.com","port":"3306","db":"mudbus","tz":""},{"id":"e50fea0e.88a758","type":"amqp-server","z":0,"host":"52.55.240.135","port":"5672","vhost":"","keepalive":"0","usetls":false,"verifyservercert":true,"usetopology":true,"topology":"{\n\t\"exchanges\": [\n\t\t{\"name\": \"exchange1\", \"type\": \"direct\", \"options\": {\"durable\": false}}\n\n\t],\n\t\"queues\": [\n\t\t{\"name\": \"queue1\", \"options\": {\"messageTtl\": 60000}},\n\t\t{\"name\": \"queue2\", \"options\": {\"messageTtl\": 60000}}\n\t\n\t],\n\t\"bindings\": [\n\t\t{\"source\": \"exchange1\", \"queue\": \"queue1\" , \"args\": {}}\n\t\t\n\t]\n}"},{"id":"50691af0.755bd4","type":"amqp-endpoint","z":0,"host":"","port":"","username":"","password":"","name":""},{"id":"67647b73.ed1854","type":"amqp-endpoint","z":0,"host":"52.55.240.135","port":"5672","username":"user","password":"password","name":""},{"id":"d3094414.fa4138","type":"modbus-client","z":"bc2cab0a.5ccfe8","name":"local","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectTimeout":"2000"},{"id":"f2282e85.160d1","type":"ui_group","z":"bc2cab0a.5ccfe8","name":"Tank 1","tab":"66634e5c.10174","order":2,"disp":true,"width":"6"},{"id":"966c89ef.bd4538","type":"ui_group","z":"bc2cab0a.5ccfe8","name":"Tank 2","tab":"66634e5c.10174","order":4,"disp":true,"width":"6"},{"id":"729944.8ac756bc","type":"ui_group","z":"bc2cab0a.5ccfe8","name":"Water Well","tab":"66634e5c.10174","order":1,"disp":true,"width":"6"},{"id":"a322a98a.4d8b08","type":"ui_group","z":"bc2cab0a.5ccfe8","name":"Transfer Pump","tab":"66634e5c.10174","order":3,"disp":true,"width":"6"},{"id":"f989aab2.9e4438","type":"ui_group","z":"bc2cab0a.5ccfe8","name":"Alarming","tab":"66634e5c.10174","disp":true,"width":"6"},{"id":"add9b352.f7e0f","type":"ui_tab","z":"bc2cab0a.5ccfe8","name":"Water Utility","icon":"dashboard"},{"id":"c35acda.6d71e3","type":"websocket out","z":"d6d5ef13.e0b65","name":"","server":"d27b2aad.424b88","client":"","x":439.5,"y":151,"wires":[]},{"id":"2acfccd9.8671c4","type":"inject","z":"d6d5ef13.e0b65","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":149.5,"y":151,"wires":[["c35acda.6d71e3"]]},{"id":"af6b7be9.481488","type":"websocket in","z":"2a34925d.7e653e","name":"","server":"2b908561.c072aa","client":"","x":78.5,"y":86,"wires":[["85e07ed8.04f59","8f0dd1df.3a65c"]]},{"id":"85e07ed8.04f59","type":"debug","z":"2a34925d.7e653e","name":"","active":true,"console":"false","complete":"true","x":268.5,"y":160,"wires":[]},{"id":"b94315b1.bff9a8","type":"websocket in","z":"140618a5.dd7227","name":"","server":"8537df93.ee9df","client":"","x":187,"y":150,"wires":[["510dba21.f158d4"]]},{"id":"2f0c57f8.858958","type":"http in","z":"140618a5.dd7227","name":"","url":"/public/chat","method":"get","swaggerDoc":"","x":175,"y":367,"wires":[["3c259505.e6b34a"]]},{"id":"d086c004.e6b9f","type":"http response","z":"140618a5.dd7227","name":"","x":369,"y":373,"wires":[]},{"id":"3c259505.e6b34a","type":"template","z":"140618a5.dd7227","name":"chat html","field":"payload","fieldType":"msg","format":"text","syntax":"mustache","template":"<!doctype html>\n<html lang=\"en\">\n<head>\n  <meta charset=\"utf-8\">\n  <title>FRED-powered chat app</title>\n  <script src=\"http://code.jquery.com/jquery-1.11.3.min.js\"></script>\n  <script src=\"http:///code.jquery.com/jquery-migrate-1.2.1.min.js\"></script>\n  <style>\n    #messages {border-color:#999; border-style:solid; width:250px; min-height:200px; margin:5px;}\n    .msg {color:#FFF; background-color:#2980B9; padding:2px; margin:2px;}\n    .server {color:#999; background-color:white; font-size:small;}\n    .sentiment-3 {background-color:#992222;}  \n    .sentiment0 {background-color:#2980B9;}\n    .sentiment3 {background-color:#229922;}\n    #form {margin:5px;}\n    #form input {width:250px;}\n  </style>\n</head>\n<body>\n  <div id=\"messages\"></div>\n  <form id=\"form\" onsubmit=\"return false;\">\n    <input id=\"text\" type=\"text\" onkeypress=\"return sendText(event)\" />\n  </form>\n\n  <script type=\"text/javascript\">\n\n    // Open a websocket using FRED.\n    var publishSocket = new WebSocket(\"ws://localhost:1880/public/receive\");\n    var listenSocket = new WebSocket(\"ws://localhost:1880/public/publish\");\n\n    listenSocket.onmessage = function (event) {\n      // When receiving a message append a div child to #messages\n      data = JSON.parse(event.data);\n      $(\"#messages\").append(\"<div class='msg sentiment\"+data.sentiment+\"' >\"+data.timestamp+\" - \"+data.msg+\"</div>\")\n      if ($(\"#messages\").children().length > 10 ) { $(\"#messages :first-child\").remove()}\n    }\n\n    listenSocket.onclose = function(event){\n      $(\"#messages\").append(\"<div class='msg server'>Disconnected from server.</div>\");\n    }\n\n    listenSocket.onopen = function(event){\n      $(\"#messages\").append(\"<div class='msg server'>Connected to server.</div>\")\n    }\n\n    function sendText(event) {\n      // Only if return key pressed\n      if (event.keyCode == 13) {\n        // Construct object containing the data the server needs.\n        d = new Date();\n        var data = {\n          msg: $(\"#text\").val(),\n          timestamp: d.getHours() +\":\"+ d.getMinutes() + \":\" + d.getSeconds()\n        };\n        // Send the msg object as a JSON-formatted string.\n        publishSocket.send(JSON.stringify(data));  \n        // Blank the text input element\n        $(\"#text\").val(\"\");\n      }\n    }\n </script>\n\n</body>\n</html>\n","x":297,"y":418,"wires":[["d086c004.e6b9f"]]},{"id":"a3bb7c6e.b8308","type":"sentiment","z":"140618a5.dd7227","name":"","x":389,"y":287,"wires":[["3a10f553.80f2aa"]]},{"id":"6637be0e.3f559","type":"change","z":"140618a5.dd7227","name":"","rules":[{"t":"set","p":"data","to":"msg.payload"},{"t":"set","p":"payload","to":"msg.payload.msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":311,"y":242,"wires":[["a3bb7c6e.b8308"]]},{"id":"510dba21.f158d4","type":"json","z":"140618a5.dd7227","name":"","x":211,"y":282,"wires":[["6637be0e.3f559"]]},{"id":"3a10f553.80f2aa","type":"function","z":"140618a5.dd7227","name":"format message","func":"return {\n    payload: {\n        msg:msg.data.msg,\n        timestamp:msg.data.timestamp,\n        sentiment:msg.sentiment.score\n    }\n};","outputs":1,"noerr":0,"x":506,"y":244,"wires":[["59848507.712b8c"]]},{"id":"59848507.712b8c","type":"websocket out","z":"140618a5.dd7227","name":"","server":"61ea499.c6e52b8","client":"","x":600,"y":153.09091186523438,"wires":[]},{"id":"a834ebb1.359ec8","type":"websocket out","z":"2a34925d.7e653e","name":"","server":"d27b2aad.424b88","client":"","x":536.5,"y":85,"wires":[]},{"id":"54d7338c.92fa4c","type":"inject","z":"140618a5.dd7227","name":"","topic":"","payload":"Hello There","payloadType":"string","repeat":"","crontab":"","once":false,"x":248,"y":533,"wires":[["60d367e2.39a858"]]},{"id":"60d367e2.39a858","type":"websocket out","z":"140618a5.dd7227","name":"","server":"","client":"e2613187.75d4","x":470.99998474121094,"y":563,"wires":[]},{"id":"d73dcf58.9afe3","type":"websocket in","z":"140618a5.dd7227","name":"","server":"","client":"e2613187.75d4","x":253.40057373046875,"y":647,"wires":[["93321c3e.7587f"]]},{"id":"93321c3e.7587f","type":"debug","z":"140618a5.dd7227","name":"","active":true,"console":"false","complete":"false","x":500.99998474121094,"y":648,"wires":[]},{"id":"39671579.b4b16a","type":"websocket in","z":"d6d5ef13.e0b65","name":"","server":"","client":"1537b92f.6022c7","x":190.5,"y":319,"wires":[["904ebd9a.a9b0b"]]},{"id":"904ebd9a.a9b0b","type":"debug","z":"d6d5ef13.e0b65","name":"","active":true,"console":"false","complete":"true","x":475.5,"y":319,"wires":[]},{"id":"8f0dd1df.3a65c","type":"change","z":"2a34925d.7e653e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"tstes","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":275.5,"y":84,"wires":[["a834ebb1.359ec8"]]},{"id":"ece8b59b.344e78","type":"websocket in","z":"d6d5ef13.e0b65","name":"","server":"2b908561.c072aa","client":"","x":109,"y":455,"wires":[["2e958832.e736a8"]]},{"id":"2e958832.e736a8","type":"debug","z":"d6d5ef13.e0b65","name":"","active":true,"console":"false","complete":"payload","x":484,"y":455,"wires":[]},{"id":"cf8f9d0a.3ff6e","type":"inject","z":"438131c.1f349d","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":99.5,"y":146,"wires":[["4b96195e.97a788"]]},{"id":"2f636997.dc2576","type":"debug","z":"438131c.1f349d","name":"","active":true,"console":"false","complete":"true","x":427.5,"y":283,"wires":[]},{"id":"ff18824.a93488","type":"amqp out","z":"438131c.1f349d","name":"","routingkey":"","iotype":"0","ioname":"exchange1","server":"e50fea0e.88a758","x":508.5,"y":148,"wires":[]},{"id":"4b96195e.97a788","type":"change","z":"438131c.1f349d","name":"","rules":[{"t":"set","p":"options.replyTo","pt":"msg","to":"queue2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":302.5,"y":149,"wires":[["ff18824.a93488"]]},{"id":"228c9082.501fa","type":"amqp in","z":"438131c.1f349d","name":"","topic":"","iotype":"4","ioname":"queue1","server":"e50fea0e.88a758","x":111.5,"y":282,"wires":[["4ccf1716.363588"]]},{"id":"4ccf1716.363588","type":"change","z":"438131c.1f349d","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"queue1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":260.5,"y":285,"wires":[["2f636997.dc2576","2b05764a.296ada"]]},{"id":"14ac7975.891167","type":"debug","z":"438131c.1f349d","name":"","active":true,"console":"false","complete":"true","x":428,"y":364,"wires":[]},{"id":"5f72559c.ffc4ac","type":"amqp in","z":"438131c.1f349d","name":"","topic":"","iotype":"4","ioname":"queue2","server":"e50fea0e.88a758","x":112,"y":363,"wires":[["edba293a.4afc08"]]},{"id":"edba293a.4afc08","type":"change","z":"438131c.1f349d","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"queue2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":261,"y":366,"wires":[["14ac7975.891167"]]},{"id":"2b05764a.296ada","type":"logger","z":"438131c.1f349d","name":"","filename":"node-red.log","maxsize":1,"maxfiles":10,"complete":"true","console":true,"file":false,"debug":true,"zip":false,"logtype":"info","x":389.5,"y":222,"wires":[]},{"id":"977b6fb6.35252","type":"modbus-read","z":"bc2cab0a.5ccfe8","name":"Read Holding Registers","showStatusActivities":false,"showErrors":false,"unitid":"1","dataType":"HoldingRegister","adr":"1","quantity":"6","rate":"500","rateUnit":"ms","server":"4412ae43.cdf648","x":138.26663208007812,"y":228.0000114440918,"wires":[[],["d32c1f60.e1fe4"]]},{"id":"d32c1f60.e1fe4","type":"function","z":"bc2cab0a.5ccfe8","name":" Decode array","func":"//   The message returned from the read node is an\n// array as there could be multiple registers returned\n//   This reads the first value in the array.\ntank1Level = msg.payload.data[0]\ntank2Level = msg.payload.data[1]\ntank1Start = msg.payload.data[2]\ntank1Stop = msg.payload.data[3]\ntank2Start = msg.payload.data[4]\ntank2Stop = msg.payload.data[5]\n\nglobal.set(\"tank1Level\",tank1Level);\nglobal.set(\"tank2Level\",tank2Level);\nglobal.set(\"tank1Start\",tank1Start);\nglobal.set(\"tank1Stop\",tank1Stop);\nglobal.set(\"tank2Start\",tank2Start);\nglobal.set(\"tank2Stop\",tank2Stop);\n\ntank1HStp = (tank1Start - 15);\ntank1LStp = (tank1Stop + 15);\ntank2HStp = (tank1Start - 15);\ntank2LStp = (tank1Stop + 15);\n\nvar msg1 = { payload:tank1Level};\nvar msg2 = { payload:tank2Level};\nvar msg3 = { payload:tank1Start};\nvar msg4 = { payload:tank1Stop};\nvar msg5 = { payload:tank2Start};\nvar msg6 = { payload:tank2Stop};\nvar msg7 = { payload:tank1HStp};\nvar msg8 = { payload:tank1LStp};\nvar msg9 = { payload:tank2HStp};\nvar msg10 = { payload:tank2LStp};\n\n\n\n\nreturn [ msg1, msg2, msg3, msg4, msg5, msg6, msg7, msg8, msg9, msg10 ];\n","outputs":"10","noerr":0,"x":163.05348205566406,"y":349.7841606140137,"wires":[["fd1edd19.57adb","2cde25aa.e94f4a","daaebbff.19dfe8","279d2dda.57d4d2"],["6ed80fb8.4e3f7","8c073679.b33218","1643e756.024bf9","d2623e01.6582b"],["cfa1cf23.9ae2c"],["436328ea.b8f618"],["67e62c10.f995d4"],["b165754e.b134d8"],["f6870c96.aeff3"],["de0d90ae.fda24"],["7b29454e.1dac0c"],["6fbf532.338ebac"]]},{"id":"ea5d5f15.e2d3a","type":"modbus-server","z":"bc2cab0a.5ccfe8","name":"Modbus Server","logEnabled":false,"serverPort":"502","responseDelay":100,"delayUnit":"ms","coilsBufferSize":1024,"holdingBufferSize":1024,"inputBufferSize":1024,"x":295.2666473388672,"y":1199.000099658966,"wires":[["275f5da.43d78a2"],["275f5da.43d78a2"],["275f5da.43d78a2"]]},{"id":"275f5da.43d78a2","type":"debug","z":"bc2cab0a.5ccfe8","name":"","active":true,"console":"false","complete":"false","x":519.2666473388672,"y":1199.000099658966,"wires":[]},{"id":"33f533c7.31246c","type":"inject","z":"bc2cab0a.5ccfe8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":106.26664733886719,"y":1199.000099658966,"wires":[["ea5d5f15.e2d3a"]]},{"id":"bdc20f27.d48ef","type":"comment","z":"bc2cab0a.5ccfe8","name":"Modbus Slave sim device","info":"","x":134.9666576385498,"y":1156.0001020431519,"wires":[]},{"id":"2cde25aa.e94f4a","type":"ui_chart","z":"bc2cab0a.5ccfe8","name":"Bar Chart","group":"9bd788a1.b5bb98","order":3,"width":"2","height":"4","label":"","chartType":"bar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"0","ymax":"240","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":485.9667282104492,"y":114.60003614425659,"wires":[[],[]]},{"id":"fd1edd19.57adb","type":"ui_text","z":"bc2cab0a.5ccfe8","group":"9bd788a1.b5bb98","order":1,"width":0,"height":0,"name":"","label":"Tank 1 Level","format":"{{msg.payload}}","layout":"row-spread","x":494.9667282104492,"y":80.39996290206909,"wires":[]},{"id":"8c073679.b33218","type":"ui_chart","z":"bc2cab0a.5ccfe8","name":"Trend","group":"7b6e0d6c.f51904","order":2,"width":"3","height":"4","label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"0","ymax":"240","removeOlder":"3","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":475.9667282104492,"y":260.866614818573,"wires":[[],[]]},{"id":"6ed80fb8.4e3f7","type":"ui_text","z":"bc2cab0a.5ccfe8","group":"7b6e0d6c.f51904","order":1,"width":0,"height":0,"name":"","label":"Tank 2 Level","format":"{{msg.payload}}","layout":"row-spread","x":493.9667282104492,"y":193.6665415763855,"wires":[]},{"id":"efb87ba3.5cd1b8","type":"ui_text","z":"bc2cab0a.5ccfe8","group":"912c5aef.7152f","order":1,"width":"3","height":"1","name":"","label":"Mode","format":"{{msg.payload}}","layout":"row-left","x":481.3001518249512,"y":643.399896144867,"wires":[]},{"id":"ea1d2ce6.19e24","type":"ui_switch","z":"bc2cab0a.5ccfe8","name":"","label":"Run","group":"912c5aef.7152f","order":4,"width":"3","height":"1","passthru":false,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":649.4998397827148,"y":367.8333811759949,"wires":[["823cfa07.2a46f8"]]},{"id":"b64bfc8e.1bcb7","type":"debug","z":"bc2cab0a.5ccfe8","name":"","active":false,"console":"false","complete":"false","x":1107.2157974243164,"y":500.7337260246277,"wires":[]},{"id":"24ea6476.43fb6c","type":"function","z":"bc2cab0a.5ccfe8","name":"pump 1 simulator","func":"//   The message returned from the read node is an\n// array as there could be multiple registers returned\n//   This reads the first value in the array.\nvar tankLevel = global.get(\"tank1Level\");\nvar pumpStatus = global.get(\"pump1Status\");\nvar pump2Status = global.get(\"pump2Status\");\n\n\nif (pumpStatus === true && tankLevel < 240)\n{\n    if (pump2Status === true) \n    {\n        tankLevel = tankLevel + 1; \n        msg.payload = { value: tankLevel, \n        'fc': 6,\n        'unitid': 1, \n        'address': 1,\n        'quantity': 1 } \n        return msg\n    }\n    else\n    {\n        tankLevel = tankLevel + 6; \n        msg.payload = { value: tankLevel, \n        'fc': 6,\n        'unitid': 1, \n        'address': 1,\n        'quantity': 1 } \n        return msg\n    }\n}   \nelse if (pumpStatus === false && tankLevel > 4)\n{\n    if (pump2Status === true) \n    {\n        tankLevel = tankLevel + -6; \n        msg.payload = { value: tankLevel, \n        'fc': 6,\n        'unitid': 1, \n        'address': 1,\n        'quantity': 1 } \n        return msg \n    }\n    else\n    {\n        tankLevel = tankLevel + -2; \n        msg.payload = { value: tankLevel, \n        'fc': 6,\n        'unitid': 1, \n        'address': 1,\n        'quantity': 1 } \n        return msg \n    }\n    \n}\n","outputs":1,"noerr":0,"x":272.3332214355469,"y":1037.3332905769348,"wires":[["9122708f.e47fe"]]},{"id":"4ee701cf.ca045","type":"inject","z":"bc2cab0a.5ccfe8","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"1","crontab":"","once":false,"x":95.49992370605469,"y":1052.9999165534973,"wires":[["24ea6476.43fb6c","8148b8cb.cae2b8"]]},{"id":"369751d2.669bfe","type":"ui_switch","z":"bc2cab0a.5ccfe8","name":"","label":"Mode","group":"912c5aef.7152f","order":3,"width":"3","height":"1","passthru":false,"decouple":"true","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":648.6664962768555,"y":330.3334422111511,"wires":[["6c86dc86.f202f4"]]},{"id":"bf30bf85.11f3a","type":"modbus-flex-write","z":"bc2cab0a.5ccfe8","name":"","showStatusActivities":false,"showErrors":false,"server":"4412ae43.cdf648","x":1092.499855041504,"y":457.3335795402527,"wires":[[],["b64bfc8e.1bcb7"]]},{"id":"823cfa07.2a46f8","type":"function","z":"bc2cab0a.5ccfe8","name":"Coil 2","func":"msg.payload = { value: msg.payload, \n'fc': 5,\n'unitid': 1, \n'address': 2,\n'quantity': 1 } \nreturn msg","outputs":1,"noerr":0,"x":778.499870300293,"y":368.0001902580261,"wires":[["bf30bf85.11f3a"]]},{"id":"6c86dc86.f202f4","type":"function","z":"bc2cab0a.5ccfe8","name":"Coil 1","func":"msg.payload = { value: msg.payload, \n'fc': 5,\n'unitid': 1, \n'address': 1,\n'quantity': 1 } \nreturn msg","outputs":1,"noerr":0,"x":778.6664962768555,"y":330.3335032463074,"wires":[["bf30bf85.11f3a"]]},{"id":"fe9faa0e.d12bd8","type":"ui_switch","z":"bc2cab0a.5ccfe8","name":"","label":"Run","group":"4025c129.a588a8","order":4,"width":"3","height":"1","passthru":false,"decouple":"true","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":645.6664810180664,"y":530.6669383049011,"wires":[["22a33b48.da8c04"]]},{"id":"c3849ba8.8f3df8","type":"ui_switch","z":"bc2cab0a.5ccfe8","name":"","label":"Mode","group":"4025c129.a588a8","order":3,"width":"3","height":"1","passthru":false,"decouple":"true","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":644.833137512207,"y":493.1669993400574,"wires":[["4f435628.d26498"]]},{"id":"22a33b48.da8c04","type":"function","z":"bc2cab0a.5ccfe8","name":"Coil 3","func":"msg.payload = { value: msg.payload, \n'fc': 5,\n'unitid': 1, \n'address': 4,\n'quantity': 1 } \nreturn msg","outputs":1,"noerr":0,"x":775.6665115356445,"y":530.8337473869324,"wires":[["bf30bf85.11f3a"]]},{"id":"4f435628.d26498","type":"function","z":"bc2cab0a.5ccfe8","name":"Coil 3","func":"msg.payload = { value: msg.payload, \n'fc': 5,\n'unitid': 1, \n'address': 3,\n'quantity': 1 } \nreturn msg","outputs":1,"noerr":0,"x":774.833137512207,"y":493.1671214103699,"wires":[["bf30bf85.11f3a"]]},{"id":"e960648d.fdb0f8","type":"modbus-read","z":"bc2cab0a.5ccfe8","name":"Read Coils","showStatusActivities":false,"showErrors":false,"unitid":"1","dataType":"Coil","adr":"1","quantity":"6","rate":"500","rateUnit":"ms","server":"4412ae43.cdf648","x":105,"y":537.3333992958069,"wires":[[],["d072d969.cf09c8"]]},{"id":"d072d969.cf09c8","type":"function","z":"bc2cab0a.5ccfe8","name":" Decode array","func":"// get the modbus values from the array\npump1Mode = msg.payload.data[0]\npump1Status = msg.payload.data[1]\npump2Mode = msg.payload.data[2]\npump2Status = msg.payload.data[3]\n\n//set global context variables for the simulator\nglobal.set(\"pump1Mode\",pump1Mode);\nglobal.set(\"pump1Status\",pump1Status);\nglobal.set(\"pump2Mode\",pump2Mode);\nglobal.set(\"pump2Status\",pump2Status);\n\n//Set up text for the statuses\nif (pump1Mode)\n    {\n    p1MText = 'Auto';\n    }\nelse\n    {\n    p1MText = 'Manual';\n    }\n    \nif (pump1Status)\n    {\n    p1SText = 'Running';\n    }\nelse\n    {\n    p1SText = 'Stopped';\n    }\n    \nif (pump2Mode)\n    {\n    p2MText = 'Auto';\n    }\nelse\n    {\n    p2MText = 'Manual';\n    }\n    \nif (pump2Status)\n    {\n    p2SText = 'Running';\n    }\nelse\n    {\n    p2SText = 'Stopped';\n    }\n    \n//set up the outgoing messages\nvar msg1 = { payload:p1MText};\nvar msg2 = { payload:p1SText};\nvar msg3 = { payload:p2MText};\nvar msg4 = { payload:p2SText};\nvar msg5 = { payload:pump1Mode};\nvar msg6 = { payload:pump1Status};\nvar msg7 = { payload:pump2Mode};\nvar msg8 = { payload:pump2Status};\n\n\n\nreturn [ msg1, msg2, msg3, msg4, msg5, msg6, msg7, msg8 ];\n","outputs":"8","noerr":0,"x":149.78683471679688,"y":647.1175036430359,"wires":[["efb87ba3.5cd1b8"],["566ebf47.f3ba9"],["fb192819.8aa508"],["844a4833.858088"],["369751d2.669bfe"],["ea1d2ce6.19e24"],["c3849ba8.8f3df8"],["fe9faa0e.d12bd8"]]},{"id":"fb192819.8aa508","type":"ui_text","z":"bc2cab0a.5ccfe8","group":"4025c129.a588a8","order":1,"width":"3","height":"1","name":"","label":"Mode","format":"{{msg.payload}}","layout":"row-spread","x":479.6667900085449,"y":716.999993801117,"wires":[]},{"id":"566ebf47.f3ba9","type":"ui_text","z":"bc2cab0a.5ccfe8","group":"912c5aef.7152f","order":2,"width":"3","height":"1","name":"","label":"Status","format":"{{msg.payload}}","layout":"row-left","x":480.6667900085449,"y":679.999993801117,"wires":[]},{"id":"844a4833.858088","type":"ui_text","z":"bc2cab0a.5ccfe8","group":"4025c129.a588a8","order":2,"width":"3","height":"1","name":"","label":"Status","format":"{{msg.payload}}","layout":"row-spread","x":480.6667900085449,"y":754.999993801117,"wires":[]},{"id":"c7d7cad3.622368","type":"comment","z":"bc2cab0a.5ccfe8","name":"Level Simulator","info":"","x":119.49990844726562,"y":999.9999775886536,"wires":[]},{"id":"61a506ae.95ca08","type":"debug","z":"bc2cab0a.5ccfe8","name":"","active":false,"console":"false","complete":"false","x":912.3333015441895,"y":1004.666642665863,"wires":[]},{"id":"9122708f.e47fe","type":"modbus-flex-write","z":"bc2cab0a.5ccfe8","name":"","showStatusActivities":false,"showErrors":true,"server":"4412ae43.cdf648","x":704.6173934936523,"y":998.266496181488,"wires":[[],["61a506ae.95ca08"]]},{"id":"680e894f.806b68","type":"function","z":"bc2cab0a.5ccfe8","name":"pump 2 simulator","func":"//   The message returned from the read node is an\n// array as there could be multiple registers returned\n//   This reads the first value in the array.\nvar tank1Level = global.get(\"tank1Level\");\nvar tankLevel = global.get(\"tank2Level\");\nvar pumpStatus = global.get(\"pump2Status\");\n\n\nif (pumpStatus === true && tankLevel < 240 && tank1Level > 3)\n{\n    tankLevel = tankLevel + 6; \n    msg.payload = { value: tankLevel, \n    'fc': 6,\n    'unitid': 1, \n    'address': 2,\n    'quantity': 1 } \n    return msg \n}   \nelse if (pumpStatus === false && tankLevel > 0)\n{\n    tankLevel = tankLevel + -2; \n    msg.payload = { value: tankLevel, \n    'fc': 6,\n    'unitid': 1, \n    'address': 2,\n    'quantity': 1 } \n    return msg \n}","outputs":"1","noerr":0,"x":446.33323669433594,"y":1076.3331379890442,"wires":[["9122708f.e47fe"]]},{"id":"daaebbff.19dfe8","type":"ui_chart","z":"bc2cab0a.5ccfe8","name":"Trend","group":"9bd788a1.b5bb98","order":2,"width":"3","height":"4","label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"0","ymax":"240","removeOlder":"3","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":477.33336639404297,"y":148.3333125114441,"wires":[[],[]]},{"id":"1643e756.024bf9","type":"ui_chart","z":"bc2cab0a.5ccfe8","name":"Bar Chart","group":"7b6e0d6c.f51904","order":3,"width":"2","height":"4","label":"","chartType":"bar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"0","ymax":"240","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":485.33336639404297,"y":227.33332014083862,"wires":[[],[]]},{"id":"cfa1cf23.9ae2c","type":"ui_numeric","z":"bc2cab0a.5ccfe8","name":"","label":"Start Setpoint","group":"912c5aef.7152f","order":5,"width":"0","height":"0","passthru":false,"topic":"","format":"{{value}}","min":"0","max":"230","step":1,"x":679.499870300293,"y":402.666663646698,"wires":[["75748aaa.860554"]]},{"id":"436328ea.b8f618","type":"ui_numeric","z":"bc2cab0a.5ccfe8","name":"","label":"Stop Setpoint","group":"912c5aef.7152f","order":6,"width":"0","height":"0","passthru":false,"topic":"","format":"{{value}}","min":"10","max":"240","step":1,"x":680.3331985473633,"y":439.0000376701355,"wires":[["54315c85.63c9a4"]]},{"id":"67e62c10.f995d4","type":"ui_numeric","z":"bc2cab0a.5ccfe8","name":"","label":"Start Setpoint","group":"4025c129.a588a8","order":5,"width":"0","height":"0","passthru":false,"topic":"","format":"{{value}}","min":"0","max":"230","step":1,"x":674.3331985473633,"y":567.3333506584167,"wires":[["aabd98f4.7641f8"]]},{"id":"b165754e.b134d8","type":"ui_numeric","z":"bc2cab0a.5ccfe8","name":"","label":"Stop Setpoint","group":"4025c129.a588a8","order":6,"width":"0","height":"0","passthru":false,"topic":"","format":"{{value}}","min":"10","max":"240","step":1,"x":675.1665115356445,"y":603.666663646698,"wires":[["90e6a475.2423b8"]]},{"id":"75748aaa.860554","type":"function","z":"bc2cab0a.5ccfe8","name":"Hld 3","func":"msg.payload = { value: msg.payload, \n'fc': 6,\n'unitid': 1, \n'address': 3,\n'quantity': 1 } \nreturn msg","outputs":1,"noerr":0,"x":827.3331832885742,"y":403.3333811759949,"wires":[["bf30bf85.11f3a"]]},{"id":"54315c85.63c9a4","type":"function","z":"bc2cab0a.5ccfe8","name":"Hld 4","func":"msg.payload = { value: msg.payload, \n'fc': 6,\n'unitid': 1, \n'address': 4,\n'quantity': 1 } \nreturn msg","outputs":1,"noerr":0,"x":828.3331832885742,"y":439.33335065841675,"wires":[["bf30bf85.11f3a"]]},{"id":"aabd98f4.7641f8","type":"function","z":"bc2cab0a.5ccfe8","name":"Hld 5","func":"msg.payload = { value: msg.payload, \n'fc': 6,\n'unitid': 1, \n'address': 5,\n'quantity': 1 } \nreturn msg","outputs":1,"noerr":0,"x":824.3331832885742,"y":567.3333506584167,"wires":[["bf30bf85.11f3a"]]},{"id":"90e6a475.2423b8","type":"function","z":"bc2cab0a.5ccfe8","name":"Hld 6","func":"msg.payload = { value: msg.payload, \n'fc': 6,\n'unitid': 1, \n'address': 6,\n'quantity': 1 } \nreturn msg","outputs":1,"noerr":0,"x":825.3331832885742,"y":603.3333201408386,"wires":[["bf30bf85.11f3a"]]},{"id":"8148b8cb.cae2b8","type":"delay","z":"bc2cab0a.5ccfe8","name":"","pauseType":"delay","timeout":"300","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":252.49989318847656,"y":1076.999855518341,"wires":[["680e894f.806b68"]]},{"id":"9212a6ba.80aa28","type":"comment","z":"bc2cab0a.5ccfe8","name":"Automatic Logic","info":"","x":680.3332901000977,"y":685.3332133293152,"wires":[]},{"id":"55bee479.f0388c","type":"inject","z":"bc2cab0a.5ccfe8","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"1","crontab":"","once":false,"x":647.3332901000977,"y":736.3330912590027,"wires":[["2c35a6ea.5e3a3a","c72f0dda.b7efa"]]},{"id":"2c35a6ea.5e3a3a","type":"function","z":"bc2cab0a.5ccfe8","name":"pump 1 auto","func":"//   The message returned from the read node is an\n// array as there could be multiple registers returned\n//   This reads the first value in the array.\nvar tankLevel = global.get(\"tank1Level\");\nvar pumpMode = global.get(\"pump1Mode\");\nvar pumpStatus = global.get(\"pump1Status\");\nvar tankStart = global.get(\"tank1Start\");\nvar tankStop = global.get(\"tank1Stop\");\n\nif (pumpMode === true && pumpStatus === false && tankLevel <= tankStart)\n{\n    msg.payload = { value: true, \n    'fc': 5,\n    'unitid': 1, \n    'address': 2,\n    'quantity': 1 } \n    return msg\n}\nelse if (pumpMode === true && pumpStatus === true && tankLevel >= tankStop)\n{\n    msg.payload = { value: false, \n    'fc': 5,\n    'unitid': 1, \n    'address': 2,\n    'quantity': 1 } \n    return msg\n}","outputs":1,"noerr":0,"x":815.3332901000977,"y":718.3330302238464,"wires":[["bf30bf85.11f3a"]]},{"id":"c72f0dda.b7efa","type":"function","z":"bc2cab0a.5ccfe8","name":"pump 2 auto","func":"//   The message returned from the read node is an\n// array as there could be multiple registers returned\n//   This reads the first value in the array.\nvar tankLevel = global.get(\"tank2Level\");\nvar pumpMode = global.get(\"pump2Mode\");\nvar pumpStatus = global.get(\"pump2Status\");\nvar tankStart = global.get(\"tank2Start\");\nvar tankStop = global.get(\"tank2Stop\");\n\n\nif (pumpMode === true && pumpStatus === false && tankLevel <= tankStart)\n{\n    msg.payload = { value: true, \n    'fc': 5,\n    'unitid': 1, \n    'address': 4,\n    'quantity': 1 } \n    return msg\n}\nelse if (pumpMode === true && pumpStatus === true && tankLevel >= tankStop)\n{\n    msg.payload = { value: false, \n    'fc': 5,\n    'unitid': 1, \n    'address': 4,\n    'quantity': 1 } \n    return msg\n}","outputs":1,"noerr":0,"x":816.3332901000977,"y":753.6665263175964,"wires":[["bf30bf85.11f3a"]]},{"id":"a5767c11.83436","type":"inject","z":"bc2cab0a.5ccfe8","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":true,"x":95.49998474121094,"y":895.6667256355286,"wires":[["bf34dc1f.5256f","c3c172f.5effb9"]]},{"id":"73ef9abb.b74494","type":"function","z":"bc2cab0a.5ccfe8","name":"Startup Values","func":"msg.payload = { value:[false, false, false, false], \n'fc': 15, \n'unitid': 1, \n'address': 0, \n'quantity': 4 } \nreturn msg","outputs":1,"noerr":0,"x":436.3332824707031,"y":896.3334126472473,"wires":[["9122708f.e47fe"]]},{"id":"bf34dc1f.5256f","type":"delay","z":"bc2cab0a.5ccfe8","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":254.49996948242188,"y":896.0000996589661,"wires":[["73ef9abb.b74494"]]},{"id":"1eee9853.9b8668","type":"function","z":"bc2cab0a.5ccfe8","name":"Startup Values","func":"msg.payload = { value:[180,180,150,200,150,200], \n'fc': 16, \n'unitid': 1, \n'address': 1, \n'quantity': 6 } \nreturn msg","outputs":1,"noerr":0,"x":436.3332824707031,"y":932.3334126472473,"wires":[["9122708f.e47fe"]]},{"id":"c3c172f.5effb9","type":"delay","z":"bc2cab0a.5ccfe8","name":"","pauseType":"delay","timeout":"6","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":254.49996948242188,"y":932.0000996589661,"wires":[["1eee9853.9b8668"]]},{"id":"e16bb9e2.6fc7c8","type":"comment","z":"bc2cab0a.5ccfe8","name":"Read Me for Register Info","info":"Coils\n1 Pump 1 Mode\n2 pump 1 Run Status\n3 Pump 2 Mode\n4 Pump 2 Run Status\n\nHolding Registers\n40001 Tank 1 Level\n40002 Tank 1 Start Setpoint\n40003 Tank 1 Stop Setpoint\n40004 Tank 2 Level\n40005 Tank 2 Start Setpoint\n40006 Tank 2 Stop Setpoint\n","x":137.88333129882812,"y":176.88337326049805,"wires":[]},{"id":"85afdd8c.5d3b","type":"comment","z":"bc2cab0a.5ccfe8","name":"Modbus read, write and dashboard icons","info":"\n","x":190.1666717529297,"y":139.16669845581055,"wires":[]},{"id":"b460a627.e90ae8","type":"comment","z":"bc2cab0a.5ccfe8","name":"Startup Sim Values","info":"","x":127.26664733886719,"y":862.5334248542786,"wires":[]},{"id":"ec391b7e.9855f8","type":"ui_text","z":"bc2cab0a.5ccfe8","group":"9bd788a1.b5bb98","order":6,"width":0,"height":0,"name":"","label":"Tank 1","format":"{{msg.payload}}","layout":"row-spread","x":910.5001564025879,"y":95.50008916854858,"wires":[]},{"id":"279d2dda.57d4d2","type":"function","z":"bc2cab0a.5ccfe8","name":"notification","func":"lvl = msg.payload\nmsg.topic = 'Tank 1 Alarm';\nvar tank1Alarm = global.get(\"tank1Alarm\");\nvar tank1Start = global.get(\"tank1Start\");\nvar tank1Stop = global.get(\"tank1Stop\");\n    \nif (lvl > (tank1Stop + 15))\n{\n    msg.payload = 'Tank 1 Level High Alarm';\n}\nelse if (lvl < (tank1Start - 15))\n{\n    msg.payload = 'Tank 1 Level Low Alarm'; \n}\nelse\n{\n      msg.payload = 'Tank 1 Alarm Clear';  \n}\n\nif (msg.payload != tank1Alarm)\n{\n    global.set(\"tank1Alarm\",msg.payload);\n    return msg;\n}","outputs":1,"noerr":0,"x":736.7500953674316,"y":95.96670293807983,"wires":[["ec391b7e.9855f8","1c6a258f.74ee8a"]]},{"id":"1e31b7c3.ba34a8","type":"ui_audio","z":"bc2cab0a.5ccfe8","name":"","group":"34a91890.9fc56","voice":"1","always":"","x":1055.0002670288086,"y":58.16671657562256,"wires":[]},{"id":"ee6499f8.5ecf88","type":"ui_text","z":"bc2cab0a.5ccfe8","group":"7b6e0d6c.f51904","order":6,"width":0,"height":0,"name":"","label":"Tank 2","format":"{{msg.payload}}","layout":"row-spread","x":911.000114440918,"y":128.5667281150818,"wires":[]},{"id":"d2623e01.6582b","type":"function","z":"bc2cab0a.5ccfe8","name":"notification","func":"lvl = msg.payload\nmsg.topic = 'Tank 2 Alarm';\nvar tank2Alarm = global.get(\"tank2Alarm\");\nvar tank2Start = global.get(\"tank2Start\");\nvar tank2Stop = global.get(\"tank2Stop\");\n    \nif (lvl > (tank2Stop + 15))    \n{\n    msg.payload = 'Tank 2 Level High Alarm';\n}\nelse if (lvl < (tank2Start - 15))\n{\n    msg.payload = 'Tank 2 Level Low Alarm'; \n}\nelse\n{\n      msg.payload = 'Tank 2 Alarm Clear';  \n}\n\nif (msg.payload != tank2Alarm)\n{\n    global.set(\"tank2Alarm\",msg.payload);\n    return msg;\n}","outputs":1,"noerr":0,"x":735.2500534057617,"y":129.03334188461304,"wires":[["ee6499f8.5ecf88","1c6a258f.74ee8a"]]},{"id":"f6870c96.aeff3","type":"ui_text","z":"bc2cab0a.5ccfe8","group":"9bd788a1.b5bb98","order":4,"width":"3","height":"1","name":"","label":"Low Setpt","format":"{{msg.payload}}","layout":"row-left","x":919.500186920166,"y":162.00012731552124,"wires":[]},{"id":"de0d90ae.fda24","type":"ui_text","z":"bc2cab0a.5ccfe8","group":"9bd788a1.b5bb98","order":5,"width":"3","height":"1","name":"","label":"High Stpt","format":"{{msg.payload}} ","layout":"row-left","x":918.6669044494629,"y":196.00012254714966,"wires":[]},{"id":"7b29454e.1dac0c","type":"ui_text","z":"bc2cab0a.5ccfe8","group":"7b6e0d6c.f51904","order":4,"width":"3","height":"1","name":"","label":"Low Stpt","format":"{{msg.payload}}","layout":"row-left","x":917.0001983642578,"y":230.00009870529175,"wires":[]},{"id":"6fbf532.338ebac","type":"ui_text","z":"bc2cab0a.5ccfe8","group":"7b6e0d6c.f51904","order":5,"width":"3","height":"1","name":"","label":"High Stpt","format":"{{msg.payload}} ","layout":"row-left","x":916.1667938232422,"y":264.0000567436218,"wires":[]},{"id":"a50f9e35.ae327","type":"comment","z":"bc2cab0a.5ccfe8","name":"Alarming","info":"\n","x":691.0002365112305,"y":37.00004768371582,"wires":[]},{"id":"1996dafb.e4c605","type":"function","z":"bc2cab0a.5ccfe8","name":"","func":"\nif (msg.payload == 1)\n{\n    global.set(\"enable\", 1);\n   // return msg;\n}\nelse\n{\n    global.set(\"enable\", 0);     \n}\n\n","outputs":1,"noerr":0,"x":1045.2667083740234,"y":20,"wires":[[]]},{"id":"fdd2d08a.4208","type":"ui_switch","z":"bc2cab0a.5ccfe8","name":"","label":"Enable Audio TTS","group":"34a91890.9fc56","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"EnableBtn","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":885.2667694091797,"y":20.09720230102539,"wires":[["1996dafb.e4c605"]]},{"id":"1c6a258f.74ee8a","type":"function","z":"bc2cab0a.5ccfe8","name":"","func":"var enable = global.get(\"enable\");\n\nif (enable == 1)\n{\n    return msg;\n}\n\n","outputs":1,"noerr":0,"x":923.2666168212891,"y":58.00002384185791,"wires":[["1e31b7c3.ba34a8"]]}]